---
const { label, model, errorName, placeholder = "", maxlength = 200 } = Astro.props;
---

<div class="field is-horizontal"
     x-data={`{ errorName: '${errorName}' }`}>

  <label class="field-label is-normal">{label}</label>

  <div class="field-body">
    <div class="field">
      <div class="control">
        <input
			:id="`${idPrefix}-${errorName}`"
			class="input"
			type="text"
			maxlength={maxlength}
			placeholder={placeholder}
			x-model={model}
			:class="{ 'is-danger': $store.ui.errorField === errorName }"
        >
      </div>
    </div>
  </div>
</div>

