---
const { label, model, options } = Astro.props
// `options` is the *name* of the array inside the modal Alpine scope.
// Example: "regionOverrideOptions"
---

<div class="field is-horizontal"
     x-data={`{ optionsName: '${options}', model: '${model}' }`}>

  <div
    class="field-label is-normal"
    :id="`${idPrefix}-${model}-label`"
  >
    {label}
  </div>

  <div class="field-body">
    <div class="field">
      <div class="control">

        <div class="select"
             :class="{ 'is-disabled': $data[optionsName].length <= 1 }">

          <select
            :id="`${idPrefix}-${model}`"
            :aria-labelledby="`${idPrefix}-${model}-label`"
            x-model={model}
            :disabled="$data[optionsName].length <= 1"
          >
            <template x-for="opt in $data[optionsName]" :key="opt.join('-')">
              <option :value="opt.join('|')" x-text="opt.join(', ')"></option>
            </template>
          </select>

        </div>

      </div>
    </div>
  </div>
</div>
