---
const { label, model } = Astro.props
const levels = ['Easy', 'Moderate', 'Difficult']
---

<div class="field is-horizontal">
  <div class="field-label is-normal">{label}</div>
  <div class="field-body">
    <div class="field">
      <div class="buttons has-addons">
        {levels.map(level => (
          <button
            class="button"
            x-bind:class={`{ 'has-background-grey-light is-selected': ${model} === '${level}' }`}
            x-on:click={`${model} = '${level}'`}
          >
            {level}
          </button>
        ))}
      </div>
    </div>
  </div>
</div>
